provider "${providername}" {
    region = "${region}"

}

resource "${resourcetype}" "${resourcename}" {
    ami = "${ami_id}"
    instance_type = "${instancename}"
    key_name = "${keyname}"

    tags = {
      Name =  "${tagsname}"
    }
}