provider "${providername}" {
    region = "${region}"
    access_key = "${access_key}"
}
resource "${resourcetype}" "${resourcename}" {
    ami = "${ami_id}"
    instance_type = "${instancename}"

    tags = {
      Name =  "${tagsname}"
    }
}